<%- include("partials/header.ejs") %>

<body>
  <div class="content">
    <div id="blog-top">
      <h1>Blog</h1>
      <% if (isAdmin) { %>
      <form action="/add" method="GET">
        <input type="submit" class="btn add-btn" name="add-post" value="+" />
      </form>
    </div>
    <% } %> <% if (locals.posts) { %>
    <ul>
      <% for (let i = posts.length-1; i >= 0; i--) { %>
      <li>
        <h2><%= posts[i].title %></h2>
        <!-- <p><%= posts[i].content %></p> -->
        <p><em><%= posts[i].timeText %></em></p>

        <div id="post-actions">
          <form action="/open" method="GET">
            <input type="hidden" name="postIdOpen" value="<%= i %>" />
            <input
              type="submit"
              class="btn open-btn"
              name="open-post"
              value="Open Post"
            />
          </form>
          <% if (isAdmin) { %>
          <form action="/updateStart" method="UPDATE">
            <input type="hidden" name="postIdUpdate" value="<%= i %>" />
            <input
              type="submit"
              class="btn update-btn"
              name="update-post"
              value="Update Post"
            />
          </form>
          <form action="/delete" method="DELETE">
            <input type="hidden" name="postIdDelete" value="<%= i %>" />
            <input
              type="submit"
              class="btn delete-btn"
              name="delete-post"
              value="Delete Post"
            />
          </form>
          <% } %>
        </div>
      </li>
      <hr />
      <% } %>
    </ul>
    <% } %> <%- include("partials/footer.ejs") %>
  </div>
</body>
