<%- include("partials/header.ejs") %>
<div class="content form-page">
  <h1>Update</h1>
  <% if (locals.post && locals.postId) { %>
  <h2><%= post.title %></h2>
  <p><%= post.content %></p>
  <p><em><%= post.timeText %></em></p>

  <h2>Update your post</h2>

  <form action="/updateEnd" method="POST" class="field-form">
    <input type="hidden" name="post-id" value="<%= postId %>" />
    <div class="field-input">
      <label for="post-title">Title:</label>
      <input
        type="text"
        name="post-title"
        class="text-input"
        value="<%= post.title %>"
      />
    </div>
    <div class="field-input">
      <label for="post-content">Content:</label>
      <textarea type="text" name="post-content" class="text-input larger-input">
<%= post.content %></textarea
      >
    </div>
    <input
      type="submit"
      name="update-post"
      class="btn update-btn input-form-btn"
      value="Update"
    />
  </form>
</div>

<% } %> <%- include("partials/footer.ejs") %>
